/* CSS declarations go here */

#login-dropdown-list {
    list-style: none;
}

#login-dropdown-list > a {
    color: white;
}

#login-dropdown-list > a:hover {
    text-decoration: none;
}

body {
    background: url('/images/dancing-santa.gif');
    background-size: 50%;
}

div.jumbotron, .row {
    background-color: rgba(225, 225, 225, .8);
    border-radius: 6px;
}
